In [1]:
import pandas 
pandas.__version__

'0.24.2'

In [5]:
import pandas as pd
import numpy as np

In [6]:
data=pd.Series([0.25,.5,.75,.10])
data

0    0.25
1    0.50
2    0.75
3    0.10
dtype: float64

In [7]:
data.index

RangeIndex(start=0, stop=4, step=1)

## Series as generalized numpy array

In [8]:
data=pd.Series([0.25,.5,.75,.10],index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    0.10
dtype: float64

In [9]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}        
population = pd.Series(population_dict)        
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [10]:
pd.Series(5,index=[10,20,30])

10    5
20    5
30    5
dtype: int64

## Pandas DataFrame object

In [11]:
area_dict={'California': 38332521,
            'Texas': 26448193,
            'New York': 19651127,
            'Florida': 19552860,
            'Illinois': 12882135}

In [12]:
area=pd.Series(area_dict)
area

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [14]:
population_dict={'California': 38332521,
                  'Texas': 26448193,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135 }

In [15]:
population=pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [17]:
states=pd.DataFrame({'population': population,'area':area })
states

            population      area
California    38332521  38332521
Texas         26448193  26448193
New York      19651127  19651127
Florida       19552860  19552860
Illinois      12882135  12882135

In [18]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

## Constructing DataFrame objects

In [20]:
pd.DataFrame(population,columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

### From a two dimentional numpy array

In [23]:
pd.DataFrame(np.random.rand(3,2),columns=['foo','bar'] ,
             index=['a','b','c'])

        foo       bar
a  0.018440  0.433809
b  0.999177  0.259001
c  0.341288  0.101574

## Pandas index object

In [24]:
ind=pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [25]:
ind[:2]

Int64Index([2, 3], dtype='int64')

In [26]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [28]:
#index not mutable ,show error
ind[2]=0

TypeError: Index does not support mutable operations

In [31]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 0.1)]

## Data selection in frame

In [32]:
states

            population      area
California    38332521  38332521
Texas         26448193  26448193
New York      19651127  19651127
Florida       19552860  19552860
Illinois      12882135  12882135

In [34]:
states['density']=states['population'] /states['area']
states

            population      area  density
California    38332521  38332521      1.0
Texas         26448193  26448193      1.0
New York      19651127  19651127      1.0
Florida       19552860  19552860      1.0
Illinois      12882135  12882135      1.0

In [35]:
states.T

            California       Texas    New York     Florida    Illinois
population  38332521.0  26448193.0  19651127.0  19552860.0  12882135.0
area        38332521.0  26448193.0  19651127.0  19552860.0  12882135.0
density            1.0         1.0         1.0         1.0         1.0