In [6]:
print("Handle missing data in pandas")

Handle missing data in pandas

In [2]:
import pandas as pd
import numpy as np

In [4]:
val=np.array([1,2,3,4])
val.dtype

dtype('int32')

In [5]:
val=np.array([1,None,3,4])
val.dtype

dtype('O')

This dtype=object means that the best common type representation NumPy could infer for the contents of the array is that they are Python objects

## NaN : Not a Number

In [10]:
val=np.array([1,np.nan,3,4]) # IEEE floating point
val.dtype

dtype('float64')

In [9]:
1+np.nan

nan

In [12]:
val.min() ,val.max () ,val.sum()

(nan, nan, nan)

In [13]:
# ignore the missing value
np.nansum(val) ,np.nanmin(val)

(8.0, 1.0)

## operating on Null values 
isnull()

notnull()

dropna()

fillna()

In [15]:
data=pd.Series([1,np.nan,'hello',None])
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [17]:
data[ data.notnull() ] # masking with True ,False

0        1
2    hello
dtype: object

In [20]:
data.dropna() #Drop the null values

0        1
2    hello
dtype: object

In [21]:
df=pd.DataFrame([
    [1,np.nan,2],
    [2,3,4],
    [np.nan,4,6]
])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  4
2  NaN  4.0  6

In [22]:
df.dropna()

     0    1  2
1  2.0  3.0  4

In [23]:
df.dropna(axis='columns')

   2
0  2
1  4
2  6

In [26]:
df[3]=np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  4 NaN
2  NaN  4.0  6 NaN

In [27]:
df.dropna(axis='columns',how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  4
2  NaN  4.0  6

## Filling null values

In [2]:
import numpy as np
import pandas as pd

In [3]:
data =pd.Series([1,np.nan,2,None,3] ,index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [4]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [6]:
data.fillna(method='ffill') #forward fill

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [7]:
data.fillna(method='bfill') # Back fii

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64