## Ufunc : index preservation

In [1]:
import pandas as pd
import numpy as np

In [2]:
rng=np.random.RandomState(42)
ser=pd.Series(rng.randint(0,10,4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [3]:
df=pd.DataFrame(rng.randint(0,10,(3,4)) ,columns=['A','B','C','D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [4]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [5]:
np.sin(df * np.pi /4)

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

## index alignment

In [6]:
A=pd.Series([2,4,6],index=[0,1,2])
B=pd.Series([1,3,5],index=[1,2,3])
A+B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [8]:
# Fill NaN : 0

A.add(B,fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [10]:
A=pd.DataFrame(rng.randint(0,10,(3,3)) ,columns=list('BAC'))
A

   B  A  C
0  0  9  2
1  6  3  8
2  2  4  2

## Operation between Dataframe and Series

In [12]:
df=pd.DataFrame(A)
df-df.iloc[0]

   B  A  C
0  0  0  0
1  6 -6  6
2  2 -5  0